[tool.poetry]
name = "appcenter"
version = "0.18.0"
description = "A Python wrapper around the App Center REST API."

license = "MIT"

authors = [
    "Dale Myers <dalemy@microsoft.com>"
]

readme = 'README.md'

repository = "https://github.com/Microsoft/appcenter-rest-python"
homepage = "https://github.com/Microsoft/appcenter-rest-python"

keywords = ['app center', 'api']

classifiers = [
    'Development Status :: 3 - Alpha',
    'Intended Audience :: Developers',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.7',
    'Topic :: Software Development',
    'Topic :: Utilities'
]

[tool.poetry.dependencies]
python = "^3.6"
azure-storage-blob = "^2.1.0"
deserialize = "^1"
requests = "^2.22.0"
tenacity = "^6.2.0"

[tool.poetry.dev-dependencies]
black = "=19.3b0"
mypy = "=0.730"
pylint = "=2.4.2"
pytest = "=5.2.0"
pytest-cov = "=2.7.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
